@page "/caja"
@using QueBox.Services
@using QueBox.Models


@inject DisenoService DisenoService
@inject CapaService CapaService
@inject ImagenDecorativaService ImagenDecorativaService
@inject IJSRuntime JS

@using Plotly.Blazor
@using Plotly.Blazor.Traces
@using Plotly.Blazor.LayoutLib


<PageTitle>Diseno</PageTitle>

<main>

    <!-- Codigo form de arriba    -->

    <EditForm class="row g-3" Model="@editingDiseno" OnValidSubmit="SaveDiseno">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="col-md-4 mb-3">
            <label for="largo" class="form-label">Largo:</label>
            <InputNumber TValue="float" @bind-Value="editingDiseno.Largo" id="largo" class="form-control" />
        </div>

        <div class="col-md-4">
            <label for="alto" class="form-label">Alto:</label>
            <InputNumber TValue="float" @bind-Value="editingDiseno.Alto" id="alto" class="form-control" />
        </div>

        <div class="col-md-4">
            <label for="ancho" class="form-label">Ancho:</label>
            <InputNumber TValue="float" @bind-Value="editingDiseno.Ancho" id="ancho" class="form-control" />
        </div>

        <button class="row col-md-3 btn btn-primary mx-auto" type="submit">Que Caja!</button>

    </EditForm>

    <!-- Codigo form de izquierda -->
    <div class="row g-3">

            @if (isLoading)
            {
            <p class=" mb-3 col-md-6">Cargando capas...</p>
            }
            else
            {
                @foreach (var capa in capas)
                {
                    <div id="accordion  mb-3 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="accordion-button collapsed" @onclick="() => ToggleBootstrapCollapse(capa.Numero.ToString())">
                                        La capa @capa.Numero
                                    </button>
                                </h5>
                            </div>

                            <div id="@capa.Numero">
                                <div class="card-body">
                                    @foreach (var imagenDecorativa in imagenDecorativas)
                                    {
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <button class="accordion-button collapsed" @onclick="() => ToggleBootstrapCollapse(imagenDecorativa.Url)">
                                                        La imagen @imagenDecorativa.Id_Img
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="@imagenDecorativa.Url">
                                                    <!-- Form imagenes -->
                                                <EditForm class="card-body" Model="@imagenDecorativa" OnValidSubmit="() => SaveImagenDecorativa(imagenDecorativa)">
                                                    <DataAnnotationsValidator />
                                                    <ValidationSummary />

                                                    <div class="mb-3">
                                                        <label for="id_Capa" class="form-label">Id_Capa:</label>
                                                        <InputNumber @bind-Value="imagenDecorativa.Id_Capa" id="id_Capa" class="form-control" />
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="alto" class="form-label">Alto:</label>
                                                        <InputNumber @bind-Value="imagenDecorativa.Alto" id="alto" class="form-control" />
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="ancho" class="form-label">Ancho:</label>
                                                        <InputNumber @bind-Value="imagenDecorativa.Ancho" id="ancho" class="form-control" />
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="url" class="form-label">Url:</label>
                                                        <InputText @bind-Value="imagenDecorativa.Url" id="url" class="form-control" />
                                                    </div>

                                                    <button class="mb-3 col-md-4 row btn btn-primary" type="submit">Enviar</button>

                                                </EditForm>

                                            </div>
                                        </div>
                                    }
                                    @if (editingDiseno != null)
                                    {


                                    }
                                    <!-- Agregar aca el boton para mas imagenes -->

                                </div>
                            </div>
                        </div>
                    </div>

                }
            }

        @if (data != null)
        {
            <PlotlyChart class="col-md-6" @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart" />
        }
        else
        {
            <h5 class="col-md-6">No data.</h5>
        }
    </div>
   

    
</main>


@code {

    // Definir datos

    private List<Diseno> disenos = new();
    private Diseno? editingDiseno;
    private List<Capa> capas = new();
    private List<ImagenDecorativa> imagenDecorativas = new();
    private ImagenDecorativa? editingImagenDecorativa;

    private bool isLoading = true;


    // Ejecutables al iniciar

    protected override async Task OnInitializedAsync()
    {
        editingDiseno = new Diseno();
        editingImagenDecorativa = new ImagenDecorativa();
        imagenDecorativas = (await ImagenDecorativaService.GetImagenDecorativasAsync())?.ToList() ?? new List<ImagenDecorativa>();
        capas = (await CapaService.GetCapasAsync())?.ToList() ?? new List<Capa>();

        isLoading = false;
    }

    private async Task NewDiseno()
    {

        editingDiseno = new Diseno { Id_Usuario = 1 };
        StateHasChanged();
        await Task.CompletedTask;
    }


    // Guardar diseno

    private async Task SaveDiseno()
    {
        if (editingDiseno == null)
            return;

        // Ya el diseno deberia estar creado

        // if (editingDiseno.Id_Diseno == 0)
        // {
        //    var created = await DisenoService.CreateDisenoAsync(editingDiseno);
        //    if (created != null)
        //        disenos.Insert(0, created);
        //}

        else
        {
            await DisenoService.UpdateDisenoAsync(editingDiseno);
            var index = disenos.FindIndex(d => d.Id_Diseno == editingDiseno.Id_Diseno);
            if (index >= 0)
                disenos[index] = editingDiseno;
        }

        editingDiseno = null;
        StateHasChanged();
    }


    // Guardar imagenDecorativa


    private async Task SaveImagenDecorativa(ImagenDecorativa editingImagenDecorativa)
    {
        if (editingImagenDecorativa == null)
            return;

        if (editingImagenDecorativa.Id_Img == 0)
        {
            var created = await ImagenDecorativaService.CreateImagenDecorativaAsync(editingImagenDecorativa);
            if (created != null)
                imagenDecorativas.Insert(0, created);
        }

        else
        {
            await ImagenDecorativaService.UpdateImagenDecorativaAsync(editingImagenDecorativa);
            var index = imagenDecorativas.FindIndex(d => d.Id_Img == editingImagenDecorativa.Id_Img);
            if (index >= 0)
                imagenDecorativas[index] = editingImagenDecorativa;
        }

        StateHasChanged();
    }

    // Actualizar data ImagenDecorativa

    // Chart
    PlotlyChart chart;

    Config config = new Config();
    Layout layout = new Layout()
        {
        Width = 890,
        Height = 750
    };

    static List<object> intensityn = new List<object> {
            0, 0.14285714285714285, 0.2857142857142857, 0.42857142857142855, 0.5714285714285714, 0.7142857142857143, 0.8571428571428571, 1
    };


    public static List<object> LinspaceList(double start, double stop, int num, bool endpoint = true)
    {
        if (num < 0)
        {
            throw new ArgumentOutOfRangeException(nameof(num), "Number of samples must be non-negative.");
        }

        if (num == 0)
        {
            return new List<object>();
        }

        List<object> result = new List<object>(num);

        if (num == 1)
        {
            result.Add(start);
            return result;
        }

        double step;
        if (endpoint)
        {
            step = (stop - start) / (num - 1);
        }
        else
        {
            step = (stop - start) / num;
        }

        for (int i = 0; i < num; i++)
        {
            result.Add(start + i * step);
        }

        // Adjust the last element if endpoint is true to ensure it's exactly 'stop'
        // due to potential floating-point inaccuracies
        if (endpoint && num > 1)
        {
            result[num - 1] = stop;
        }

        return result;
    }


    public static Tuple<List<object>, List<object>> CreateMeshGrid(List<object> xValues, List<object> yValues)
    {
        int numX = xValues.Count;
        int numY = yValues.Count;

        // Initialize the 2D lists for X and Y grids
        List<object> X = new List<object>();
        List<object> Y = new List<object>();

        // Populate the X grid
        for (int i = 0; i < numY; i++)
        {
            List<object> rowX = new List<object>();
            for (int j = 0; j < numX; j++)
            {
                rowX.Add(xValues[j]);
            }
            X.Add(rowX);
        }

        // Populate the Y grid
        for (int i = 0; i < numY; i++)
        {
            List<object> rowY = new List<object>();
            for (int j = 0; j < numX; j++)
            {
                rowY.Add(yValues[i]);
            }
            Y.Add(rowY);
        }

        return Tuple.Create(X, Y);
    }

    public static List<object> CreateListOfListOfOnesCapacity(int count)
    {

        List<object> onesList = new List<object>(count); // Initialize with capacity
        for (int i = 0; i < count; i++)
        {
            onesList.Add(1);
        }

        List<object> onesListList = new List<object>(count); // Initialize with capacity
        for (int i = 0; i < count; i++)
        {
            onesListList.Add(onesList);
        }

        return onesListList;
    }

    public static List<object> CreateListOfListOfZerosCapacity(int count)
    {

        List<object> onesList = new List<object>(count); // Initialize with capacity
        for (int i = 0; i < count; i++)
        {
            onesList.Add(0);
        }

        List<object> onesListList = new List<object>(count); // Initialize with capacity
        for (int i = 0; i < count; i++)
        {
            onesListList.Add(onesList);
        }

        return onesListList;
    }


    static List<object> xCoords = LinspaceList(0, 1, 128);

    static Tuple<List<object>, List<object>> mesh = CreateMeshGrid(xCoords, xCoords);

    static List<object> x = mesh.Item1;
    static List<object> z = mesh.Item2;
    static List<object> y = CreateListOfListOfOnesCapacity(128);
    static List<object> color = CreateListOfListOfZerosCapacity(128);

    // Using of the interface IList is important for the event callback!
    IList<ITrace> data = new List<ITrace>
    {
        new Mesh3D
        {
            X = new List<object>{0, 0, 1, 1, 0, 0, 1, 1},
            Y = new List<object>{0, 1, 1, 0, 0, 1, 1, 0},
            Z = new List<object>{0, 0, 0, 0, 1, 1, 1, 1},

            I = new List<object>{7, 0, 0, 0, 4, 4, 6, 6, 4, 0, 3, 2},
            J = new List<object>{3, 4, 1, 2, 5, 6, 5, 2, 0, 1, 6, 3},
            K = new List<object>{0, 7, 2, 3, 6, 7, 1, 1, 5, 5, 7, 6},

            //ColorBar = new Plotly.Blazor.Traces.Mesh3DLib.ColorBar {
            //    Title = new Plotly.Blazor.Traces.Mesh3DLib.ColorBarLib.Title {Text = "z" }
            //},
            ColorScale = "Electric",
            //Intensity = new List<object> {
            //    0, 0.14285714285714285, 0.2857142857142857, 0.42857142857142855, 0.5714285714285714, 0.7142857142857143, 0.8571428571428571, 1
            //},
            ShowScale = false,
            Intensity = intensityn
        },

        // Y constante
        new Surface
        {
            X = x,
            Y = y,
            Z = z,
            //SurfaceColor = color,
            //ColorScale = "Rainbow",

        },

        // X constante
        new Surface
        {
            X = y,
            Y = x,
            Z = z,
            //SurfaceColor = color,
            //ColorScale = "Rainbow",

        },

        // Z constante
        new Surface
        {
            X = x,
            Y = z,
            Z = y,
            //SurfaceColor = color,
            //ColorScale = "Rainbow",

        }
    };

    // Toggle function

    private async Task ToggleBootstrapCollapse(string elementid)
    {
        await JS.InvokeVoidAsync("bootstrapInterop.toggleBootstrapCollapse", elementid);
    }

}