@page "/caja"
@using QueBox.Services
@using QueBox.Models


@inject DisenoService DisenoService
@inject CapaService CapaService
@inject ImagenDecorativaService ImagenDecorativaService
@inject Mathy Mathy

@inject IJSRuntime JS

@using Plotly.Blazor
@using Plotly.Blazor.Traces
@using Plotly.Blazor.LayoutLib


<PageTitle>Diseno</PageTitle>

<main>

    <!-- Codigo form de arriba    -->

    <EditForm class="row g-3" Model="@editingDiseno" OnValidSubmit="SaveDiseno">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="col-md-4 mb-3">
            <label for="largo" class="form-label">Largo:</label>
            <InputNumber TValue="float" @bind-Value="editingDiseno.Largo" id="largo" class="form-control" />
        </div>

        <div class="col-md-4">
            <label for="alto" class="form-label">Alto:</label>
            <InputNumber TValue="float" @bind-Value="editingDiseno.Alto" id="alto" class="form-control" />
        </div>

        <div class="col-md-4">
            <label for="ancho" class="form-label">Ancho:</label>
            <InputNumber TValue="float" @bind-Value="editingDiseno.Ancho" id="ancho" class="form-control" />
        </div>

        <button class="row col-md-3 btn btn-primary mx-auto" type="submit">Que Caja!</button>

    </EditForm>

    <!-- Codigo form de izquierda -->
    <div class="row g-3">

            @if (isLoading)
            {
            <p class=" mb-3 col-md-6">Cargando capas...</p>
            }
            else
            {

            <div id="accordion  mb-3 col-md-6">
                @foreach (var capa in capas)
                {
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <button class="accordion-button collapsed" @onclick="() => ToggleBootstrapCollapse(capa.Numero.ToString())">
                                    La capa @capa.Numero
                                </button>
                            </h5>
                        </div>

                        <div id="@capa.Numero">
                            <div class="card-body">
                                @foreach (var imagenDecorativa in imagenDecorativas)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="accordion-button collapsed" @onclick="() => ToggleBootstrapCollapse(imagenDecorativa.Url)">
                                                    La imagen @imagenDecorativa.Id_Img
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="@imagenDecorativa.Url">
                                                <!-- Form imagenes -->
                                            <EditForm class="card-body" Model="@imagenDecorativa" OnValidSubmit="() => SaveImagenDecorativa(imagenDecorativa)">
                                                <DataAnnotationsValidator />
                                                <ValidationSummary />

                                                <div class="mb-3">
                                                    <label for="id_Capa" class="form-label">Id_Capa:</label>
                                                    <InputNumber @bind-Value="imagenDecorativa.Id_Capa" id="id_Capa" class="form-control" />
                                                </div>

                                                <div class="mb-3">
                                                    <label for="alto" class="form-label">Alto:</label>
                                                    <InputNumber @bind-Value="imagenDecorativa.Alto" id="alto" class="form-control" />
                                                </div>

                                                <div class="mb-3">
                                                    <label for="ancho" class="form-label">Ancho:</label>
                                                    <InputNumber @bind-Value="imagenDecorativa.Ancho" id="ancho" class="form-control" />
                                                </div>

                                                <div class="mb-3">
                                                    <label for="url" class="form-label">Url:</label>
                                                    <InputText @bind-Value="imagenDecorativa.Url" id="url" class="form-control" />
                                                </div>

                                                <button class="mb-3 col-md-4 row btn btn-primary" type="submit">Enviar</button>

                                            </EditForm>

                                        </div>
                                    </div>
                                }
                                @if (editingDiseno != null)
                                {


                                }
                                <!-- Agregar aca el boton para mas imagenes -->

                            </div>
                        </div>
                    </div>                    
                }
            </div>

            }

        @if (data != null)
        {
            <PlotlyChart class="col-md-6" @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart" />
        }
        else
        {
            <h5 class="col-md-6">No data.</h5>
        }
    </div>
   

    
</main>


@code {

    // Definir datos

    private List<Diseno> disenos = new();
    private Diseno? editingDiseno;
    private List<Capa> capas = new();
    private List<ImagenDecorativa> imagenDecorativas = new();
    private ImagenDecorativa? editingImagenDecorativa;

    private bool isLoading = true;


    // Ejecutables al iniciar

    protected override async Task OnInitializedAsync()
    {
        editingDiseno = new Diseno();
        editingImagenDecorativa = new ImagenDecorativa();
        imagenDecorativas = (await ImagenDecorativaService.GetImagenDecorativasAsync())?.ToList() ?? new List<ImagenDecorativa>();
        capas = (await CapaService.GetCapasAsync())?.ToList() ?? new List<Capa>();

        isLoading = false;
    }

    private async Task NewDiseno()
    {

        editingDiseno = new Diseno { Id_Usuario = 1 };
        StateHasChanged();
        await Task.CompletedTask;
    }


    // Guardar diseno

    private async Task SaveDiseno()
    {
        if (editingDiseno == null)
            return;

        // Ya el diseno deberia estar creado

        // if (editingDiseno.Id_Diseno == 0)
        // {
        //    var created = await DisenoService.CreateDisenoAsync(editingDiseno);
        //    if (created != null)
        //        disenos.Insert(0, created);
        //}

        else
        {
            await DisenoService.UpdateDisenoAsync(editingDiseno);
            var index = disenos.FindIndex(d => d.Id_Diseno == editingDiseno.Id_Diseno);
            if (index >= 0)
                disenos[index] = editingDiseno;
        }

        editingDiseno = null;
        StateHasChanged();
    }


    // Guardar imagenDecorativa


    private async Task SaveImagenDecorativa(ImagenDecorativa editingImagenDecorativa)
    {
        if (editingImagenDecorativa == null)
            return;

        if (editingImagenDecorativa.Id_Img == 0)
        {
            var created = await ImagenDecorativaService.CreateImagenDecorativaAsync(editingImagenDecorativa);
            if (created != null)
                imagenDecorativas.Insert(0, created);
        }

        else
        {
            await ImagenDecorativaService.UpdateImagenDecorativaAsync(editingImagenDecorativa);
            var index = imagenDecorativas.FindIndex(d => d.Id_Img == editingImagenDecorativa.Id_Img);
            if (index >= 0)
                imagenDecorativas[index] = editingImagenDecorativa;
        }

        StateHasChanged();
    }

    // Actualizar data ImagenDecorativa

    // Chart
    PlotlyChart chart;

    Config config = new Config();
    Layout layout = new Layout()
        {
        Width = 890,
        Height = 750
    };

    static List<object> xCoords = Mathy.LinspaceList(0, 1, 128);

    static Tuple<List<object>, List<object>> mesh = Mathy.CreateMeshGrid(xCoords, xCoords);

    static List<object> x = mesh.Item1;
    static List<object> z = mesh.Item2;
    static List<object> y_1 = Mathy.CreateListOfListOfOnesCapacity(128);
    static List<object> y_0 = Mathy.CreateListOfListOfZerosCapacity(128);

    // Using of the interface IList is important for the event callback!
    IList<ITrace> data = new List<ITrace>
    {

        // Y constante : 1 adelante
        new Surface
        {
            X = x,
            Y = y_1,
            Z = z,
            //SurfaceColor = color,
            //ColorScale = "Rainbow",
            SurfaceColor = y_1,
            ColorScale = new object[]
            {
                new object[] { 0, "#3E2723" },  // Café muy oscuro
                new object[] { 1, "#5D4037" }   // Café oscuro
            },
            ShowScale = false 
        },

        // X constante : 1 adelante
        new Surface
        {
            X = y_1,
            Y = x,
            Z = z,
            //SurfaceColor = color,
            //ColorScale = "Rainbow",
            SurfaceColor = y_1,
            ColorScale = new object[]
            {
                new object[] { 0, "#3E2723" },  // Café muy oscuro
                new object[] { 1, "#5D4037" }   // Café oscuro
            },
            ShowScale = false
        },

        // Z constante : 0 detras
        new Surface
        {
            X = x,
            Y = z,
            Z = y_0,
            //SurfaceColor = color,
            //ColorScale = "Rainbow",
            SurfaceColor = y_1,
            ColorScale = new object[]
            {
                new object[] { 0, "#3E2723" },  // Café muy oscuro
                new object[] { 1, "#5D4037" }   // Café oscuro
            },
            ShowScale = false

        },

        // X constante : 0 detras
        new Surface
        {
            X = y_0,
            Y = x,
            Z = z,
            //SurfaceColor = color,
            //ColorScale = "Rainbow",
            SurfaceColor = y_1,
            ColorScale = new object[]
            {
                new object[] { 0, "#3E2723" },  // Café muy oscuro
                new object[] { 1, "#5D4037" }   // Café oscuro
            },
            ShowScale = false

        
        },

        // Y constante : 0 detras
        new Surface
        {
            X = x,
            Y = y_0,
            Z = z,
            //SurfaceColor = color,
            //ColorScale = "Rainbow",
            SurfaceColor = y_1,
            ColorScale = new object[]
            {
                new object[] { 0, "#3E2723" },  // Café muy oscuro
                new object[] { 1, "#5D4037" }   // Café oscuro
            },
            ShowScale = false

        },

    };

    // Toggle function

    private async Task ToggleBootstrapCollapse(string elementid)
    {
        await JS.InvokeVoidAsync("bootstrapInterop.toggleBootstrapCollapse", elementid);
    }

}