@page "/caja"
@using QueBox.Services
@using QueBox.Models


@inject DisenoService DisenoService
@inject CapaService CapaService
@inject ImagenDecorativaService ImagenDecorativaService
@inject IJSRuntime JS

@using Plotly.Blazor
@using Plotly.Blazor.Traces


<PageTitle>Diseno</PageTitle>

<h1>Diseno</h1>

<main>

    <!-- Codigo form de arriba    -->

    <div class="row g-3">

        <EditForm Model="@editingDiseno" OnValidSubmit="SaveDiseno">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="col-md-4">
                <label for="largo" class="form-label">Largo:</label>
                <InputNumber  @bind-Value="editingDiseno.Largo" id="largo" class="form-control" />
            </div>

            <div class="col-md-4">
                <label for="alto" class="form-label">Alto:</label>
                <InputNumber  @bind-Value="editingDiseno.Alto" id="alto" class="form-control" />
            </div>

            <div class="col-md-4">
                <label for="ancho" class="form-label">Ancho:</label>
                <InputNumber @bind-Value="editingDiseno.Ancho" id="ancho" class="form-control" />
            </div>

            <button class="mb-3 row col-md-4 btn btn-primary" type="submit">Submit</button>

        </EditForm>

    </div>


    <!-- Codigo form de izquierda -->

    <div class="row g-3">

        <div id="accordion col-md-6">
            @if (isLoading)
            {
                <p>Cargando capas...</p>
            }
            else
            {
                @foreach (var capa in capas)
                {
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <button class="accordion-button collapsed" @onclick="() => ToggleBootstrapCollapse(capa.Numero.ToString())">
                                    La capa @capa.Numero
                                </button>
                            </h5>
                        </div>

                        <div id="@capa.Numero">
                            <div class="card-body">
                                @foreach (var imagenDecorativa in imagenDecorativas)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">
                                                <button class="accordion-button collapsed" @onclick="() => ToggleBootstrapCollapse(imagenDecorativa.Url)">
                                                    La imagen @imagenDecorativa.Id_Img
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="@imagenDecorativa.Url">
                                            <div class="card-body">
                                                <!-- Form imagenes -->
                                                <EditForm Model="@imagenDecorativa" OnValidSubmit="() => SaveImagenDecorativa(imagenDecorativa)">
                                                    <DataAnnotationsValidator />
                                                    <ValidationSummary />

                                                    <div class="mb-3">
                                                        <label for="id_Capa" class="form-label">Id_Capa:</label>
                                                        <InputNumber @bind-Value="imagenDecorativa.Id_Capa" id="id_Capa" class="form-control" />
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="alto" class="form-label">Alto:</label>
                                                        <InputNumber @bind-Value="imagenDecorativa.Alto" id="alto" class="form-control" />
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="ancho" class="form-label">Ancho:</label>
                                                        <InputNumber @bind-Value="imagenDecorativa.Ancho" id="ancho" class="form-control" />
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="url" class="form-label">Url:</label>
                                                        <InputText @bind-Value="imagenDecorativa.Url" id="url" class="form-control" />
                                                    </div>

                                                    <button class="mb-3 col-md-4 row btn btn-primary" type="submit">Submit</button>

                                                    <button type="submit" class="btn btn-success">Guardar</button>
                                                </EditForm>

                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (editingDiseno != null)
                                {


                                }
                                <!-- Agregar aca el boton para mas imagenes -->

                            </div>
                        </div>
                    </div>
                }
            }

        </div>

        @if (data != null)
        {
            <PlotlyChart class="col-md-6" @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart" />
        }
        else
        {
            <h5 class="col-md-6">No data.</h5>
        }
    </div>

    
</main>


@code {

    // Definir datos

    private List<Diseno> disenos = new();
    private Diseno? editingDiseno;
    private List<Capa> capas = new();
    private List<ImagenDecorativa> imagenDecorativas = new();
    private ImagenDecorativa? editingImagenDecorativa;

    private bool isLoading = true;


    // Ejecutables al iniciar

    protected override async Task OnInitializedAsync()
    {
        editingDiseno = new Diseno();
        editingImagenDecorativa = new ImagenDecorativa();
        imagenDecorativas = (await ImagenDecorativaService.GetImagenDecorativasAsync())?.ToList() ?? new List<ImagenDecorativa>();
        capas = (await CapaService.GetCapasAsync())?.ToList() ?? new List<Capa>();

        isLoading = false;
    }

    private async Task NewDiseno()
    {

        editingDiseno = new Diseno { Id_Usuario = 1 };
        StateHasChanged();
        await Task.CompletedTask;
    }


    // Guardar diseno

    private async Task SaveDiseno()
    {
        if (editingDiseno == null)
            return;

        // Ya el diseno deberia estar creado

        // if (editingDiseno.Id_Diseno == 0)
        // {
        //    var created = await DisenoService.CreateDisenoAsync(editingDiseno);
        //    if (created != null)
        //        disenos.Insert(0, created);
        //}

        else
        {
            await DisenoService.UpdateDisenoAsync(editingDiseno);
            var index = disenos.FindIndex(d => d.Id_Diseno == editingDiseno.Id_Diseno);
            if (index >= 0)
                disenos[index] = editingDiseno;
        }

        editingDiseno = null;
        StateHasChanged();
    }


    // Guardar imagenDecorativa


    private async Task SaveImagenDecorativa(ImagenDecorativa editingImagenDecorativa)
    {
        if (editingImagenDecorativa == null)
            return;

        if (editingImagenDecorativa.Id_Img == 0)
        {
            var created = await ImagenDecorativaService.CreateImagenDecorativaAsync(editingImagenDecorativa);
            if (created != null)
                imagenDecorativas.Insert(0, created);
        }

        else
        {
            await ImagenDecorativaService.UpdateImagenDecorativaAsync(editingImagenDecorativa);
            var index = imagenDecorativas.FindIndex(d => d.Id_Img == editingImagenDecorativa.Id_Img);
            if (index >= 0)
                imagenDecorativas[index] = editingImagenDecorativa;
        }

        StateHasChanged();
    }

    // Actualizar data ImagenDecorativa

    // Chart
    PlotlyChart chart;

    Config config = new Config();
    Layout layout = new Layout()
        {
        Width = 600,
        Height=600
    };

    static List<object> intensityn = new List<object> {
            0, 0.14285714285714285, 0.2857142857142857, 0.42857142857142855, 0.5714285714285714, 0.7142857142857143, 0.8571428571428571, 1
    };
    // Using of the interface IList is important for the event callback!
    IList<ITrace> data = new List<ITrace>
    {

        new Mesh3D
        {
            X = new List<object>{0, 0, 1, 1, 0, 0, 1, 1},
            Y = new List<object>{0, 1, 1, 0, 0, 1, 1, 0},
            Z = new List<object>{0, 0, 0, 0, 1, 1, 1, 1},

            I = new List<object>{7, 0, 0, 0, 4, 4, 6, 6, 4, 0, 3, 2},
            J = new List<object>{3, 4, 1, 2, 5, 6, 5, 2, 0, 1, 6, 3},
            K = new List<object>{0, 7, 2, 3, 6, 7, 1, 1, 5, 5, 7, 6},

            //ColorBar = new Plotly.Blazor.Traces.Mesh3DLib.ColorBar {
            //    Title = new Plotly.Blazor.Traces.Mesh3DLib.ColorBarLib.Title {Text = "z" }
            //},
            ColorScale = "Electric",
            //Intensity = new List<object> {
            //    0, 0.14285714285714285, 0.2857142857142857, 0.42857142857142855, 0.5714285714285714, 0.7142857142857143, 0.8571428571428571, 1
            //},
            Intensity = intensityn
        }
    };

    // Toggle function

    private async Task ToggleBootstrapCollapse(string elementid)
    {
        await JS.InvokeVoidAsync("bootstrapInterop.toggleBootstrapCollapse", elementid);
    }

}